Zimorodek/Temp/
Zimorodek/Library/
*.csproj
*.userprefs
Tarat/Temp/UnityLockfile
Tarat/Library/ShaderCache/2/26bcb1e1b017d92365734edb8979fa25.bin
Tarat/Library/ShaderCache/c/ceeeecf580f08e554baa407380ae0aea.bin
